{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "issuePrefixes": [
            "D2C-"
          ],
          "issueUrlFormat": "https://dev.azure.com/REPLACE_WITH_ORGANIZATION_NAME/REPLACE_WITH_PROJECT_NAME/_workitems/edit/{{id}}"
        }
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}
